<!DOCTYPE html>
<html>
<head>
  <title>Test</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>


</head>
<body>

<div class="wrapper">
  <!--<h1 class="logo">Distributed Media Storage</h1>-->
  <div class="logo"><%=image_tag("cutmypic.png", alt: "Distributed Media Storage", width: 240, height: 160)%></div>
  <ul class="nav nav-pills">
    <li role="presentation" id="monitor" class="active"><a href="/media/monitor">Monitor</a></li>
    <li role="presentation" id="gallery"><a href="/media/view">Gallery</a></li>
    <li role="presentation" id="upload"><a href="#">Upload</a></li>
  </ul>
<%= yield %>

</div>

<div id="dialog" title="Upload files" >
  <span class="btn btn-success fileinput-button">
        <i class="glyphicon glyphicon-plus"></i>
        <span>Select files...</span>
        <!-- The file input field used as target for the file upload widget -->
        <input id="fileupload" type="file" name="files[]" multiple>
    </span>
  <br>
  <br>
  <!-- The global progress bar -->
  <div id="progress" class="progress">
    <div class="progress-bar progress-bar-success" id="beauty-progress"></div>
  </div>
  <!-- The container for the uploaded files -->
  <div id="files" class="files"></div>



</div>

</body>
</html>
