<div class="image-container">

  <ul class="list">
    <!--<li><img src="http://localhost/server/php/files/786_1074813_161093.jpg" alt="" width="100%"/></li>-->
    <!--<li><img src="http://localhost/server/php/files/786_1074815_107428.jpg" alt="" width="100%"/></li>-->
    <!--<li><img src="http://localhost/server/php/files/786_1074820_429048.jpg" alt="" width="100%"/></li>-->
    <!--<li><img src="http://localhost/server/php/files/786_1074824_478234.jpg" alt="" width="100%"/></li>-->
    <!--<li><img src="http://localhost/server/php/files/786_1074826_144788.jpg" alt="" width="100%"/></li>-->
    <!--<li><img src="http://localhost/server/php/files/786_1074827_191547.jpg" alt="" width="100%"/></li>-->
    <!--<li><img src="http://localhost/server/php/files/DSC_0147%20copy.JPG" alt="" width="100%"/></li>-->


  </ul>

  <ul class="list">
    <% @files.each do |file| %>
        <% urls = file.nodes.split("#") %>
        <% randIndex = Random.rand(urls.size()) %>
        <% currentFrom = urls[randIndex] %>
        <% filename = file.name %>
        <li>
          <% if !filename.downcase.end_with? "mp4" %>
              <img src="http://<%= currentFrom %>/files/<%= filename %>" alt="" width="100%"/>
              <%= urls[randIndex] %>
          <% else %>
              <%= videojs_rails sources: { mp4: "http://" + currentFrom + "/files/" + filename}, setup: "{}", poster: "/video_poster.jpg", controls: false, width:"100%", height:"220" %>
              <%= urls[randIndex] %>
          <% end %>
        </li>


    <% end %>
  </ul>

</div>




